/* ADAPTIVE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 100px;
  background-color: grey;
}

.main_container {
  display: grid;
  min-height: 70vh;
  grid-template-areas:
  "main_sec main_sec aside";
}

.main_sect {
  display: grid;
  grid-area: main_sec;
  padding: 20px;
  background-color: #fff8e3;
}

.title {
  align-items: start;
  padding: 20px;
  text-align: center;
}

.item1{
  grid-area: item1;
}

.item2{
  grid-area: item2;
}

.item3{
  grid-area: item3;
}

.list {
  display: grid;
  grid-template-areas:
  "item1 item2"
  "item3 item3";
  align-items: end;
  gap: 20px;
  list-style-type: none;
}

.item {
  padding: 50px;
  background-color: #feeab9;
  border: 1px solid black;
  text-align: center;
  font-weight: bolder;
}

.aside {
  display: grid;
  grid-area: aside;
  padding: 35px;
  text-align: center;
  background-color: #ddeccb;
}

.footer_container {
  background-color: #e0e0e0;
}

.footer_list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  padding: 30px;
  list-style-type: none;
}

.footer_item {
  padding: 30px 80px 30px 80px;
  background-color: #fafafa;
  font-weight: bolder;
}

@media all and  (max-width:768px) {
  .main_container {
    grid-template-areas:
    "main_sec"
    "aside";
    min-height: 200px;
  }

  .list {
    grid-template-areas:
    "item1"
    "item2"
    "item3";
  }
}
